
<div class="container">
	<div class="row">
		<h1>Workout Plans</h1>
		<ul>
			<li ng-repeat="(key,value) in vm.workoutPlan">
				Array Key {{key}} : {{value}} <br><br>
				Workout Value Property : {{value.workout}} <!-- array of JSON objects that needs to be looped through -->
				<br><br>
			</li>
			<li ng-repeat="(key,value) in vm.workObject">
				Array key {{key}} : {{value}}
				workout value : {{value.exercise}}
			</li>
			<li ng-repeat="workout in vm.workObject">
				{{workout.exercise}}
			</li>
		</ul>
	</div>
</div>