



<div class="container">
		<h1 class="text-center">Build Workout Plan</h1>

			<div class="container">
				<div class="row">
					<pre>
						Goal: {{vm.workoutType}} 
						Name: {{vm.programName}} 
						Weeks: {{vm.programVariation}}
						Days per Week: {{vm.programLength}}
						Workout Program:
						<ul style="list-style-type:none; text-align:center">
							<li ng-repeat="(key, value) in vm.select">
								{{value.day}}: {{value.exercise}} Reps: {{value.range}}
							</li>
						</ul>
					</pre>
				</div>
			</div>

			<div class="container">
				<div class="row">
						<form class="navbar-form">
							<input class="form-control" ng-model="vm.workoutType" type="text" placeholder="Workout Goal">
							<input class="form-control" ng-model="vm.programName" type="text" placeholder="Workout Name">
							<input class="form-control" ng-model="vm.programVariation" type="text" placeholder="Weeks">
							<input class="form-control" ng-model="vm.programLength" type="text" placeholder="Days per Week">
							<h5>Select Day and Exercises</h5>
							<select name="day" style="margin-top:20px;" class="form-control" ng-model="vm.selectDay" ng-options="days.day for days in vm.calendar">
								<option value="">--Select Day--</option>
							</select>
							
							<div class="row" style="margin-top:20px; margin-bottom:20px;">
								<btn class="btn btn-primary" ng-click="vm.logWorkout()">Save Workout</btn>
								<btn class="btn btn-danger" ng-click="buildWorkout = false">Close</btn>
							</div>
							
							<!-- injected views -->
							<div class="container">
								<div class="row">
									<div class="btn-group btn-group-justified" style="margin-top:40px; margin-bottom:40px;">
										<div class="btn-group">				
											<a ui-sref="admin.admin.workout.weighted"><btn class="btn btn-primary">Weighted</btn></a>
										</div> 
										<div class="btn-group">
											<a ui-sref="admin.admin.workout.bodyweight"><btn class="btn btn-primary">Bodyweight</btn></a>
										</div>
										<div class="btn-group">
											<a ui-sref="admin.admin.workout.cardio"><btn class="btn btn-primary">Cardio</btn></a>
										</div>
									</div>
								</div>
							</div> 

							<!-- ui-router view injector via $stateProvider -->
							<div ui-view></div>

					</form> 	
				</div>
			</div>