



<div class="container">
		<h1 class="text-center">Build Workout Plan</h1>

			<div class="container">
				<div class="row">
					
				<table class="table table-hover table-bordered">
							<thead>
								<h1 class="text-center">{{vm.workoutType}}  {{vm.programName}}</h1>
									<tr>
										<th>Day</th>
										<th>Exercises</th>
										<th>Reps</th>
									</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key, value) in vm.select">
									<td>{{value.day}}</td>
									<td>{{value.exercise}}</td>
									<td>{{value.range}}</td>
								</tr>
							</tbody>
							</table>

					<pre>
						Type: {{vm.workoutType}} Name: {{vm.programName}} Day: {{vm.selectDay.day}}
						Exercises: {{vm.select}}
						<ul>
							<li ng-repeat="(key, value) in vm.select">
								{{key}} : {{value}}
								Value: {{value.exercise}}
							</li>
						</ul>
					</pre>
				</div>
			</div>

			<div class="container">
				<div class="row">
						<form class="navbar-form">
							<input class="form-control" ng-model="vm.workoutType" type="text" placeholder="Workout Goal">
							<input class="form-control" ng-model="vm.programName" type="text" placeholder="Workout Name">
							<input class="form-control" ng-model="vm.programVariation" type="text" placeholder="Weeks">
							<input class="form-control" ng-model="vm.programLength" type="text" placeholder="Days per Week">
							<h5>Select Day and Exercises</h5>
							<select name="day" class="form-control" ng-model="vm.selectDay" ng-options="days.day for days in vm.calendar">
								<option value="">--Select Day--</option>
							</select>
							
							<!-- injected views -->
							<div class="container">
								<div class="row">
									<div class="btn-group btn-group-justified">
										<div class="btn-group">				
											<a ui-sref="admin.admin.workout.weighted"><btn class="btn btn-primary">Weighted</btn></a>
										</div> 
										<div class="btn-group">
											<a ui-sref="admin.admin.workout.bodyweight"><btn class="btn btn-primary">Bodyweight</btn></a>
										</div>
										<div class="btn-group">
											<a ui-sref="admin.admin.workout.cardio"><btn class="btn btn-primary">Cardio</btn></a>
										</div>
									</div>
								</div>
							</div> 

							<!-- ui-router view injector via $stateProvider -->
							<div ui-view></div>

							
							<btn class="btn btn-primary" ng-click="vm.logWorkout()">Save Workout</btn>
							<btn class="btn btn-danger" ng-click="buildWorkout = false">Close</btn>
						</form> 
						
				</div>
			</div>