

footer {
	padding-top: 50px;
	height: 300px;
	background-color: #95a5a6;
	text-shadow: #2c3e50 0.3em 0.3em 0.3em;
    color: white;
}

.about {
    font-family: 'Ubuntu', sans-serif;
}

.register h3 {
    color: #ffffff;
}

.footer-links {
    margin-top: 50px;
}

.pre-footer {
    margin-top:100px;
    padding-top:20px;
    padding-bottom: 150px;
    height: 100px;
    background-color: #7f8c8d;
    text-align: center;
}

.pricing {
    background-color: #c87f0a;
}

.register {
    background-color: #c87f0a;
}

.jumbotron {
    background-color: #ffffff;
}

.pre-footer {
    height:300px;
}

footer {
    height: 400px;
}

/* Navbar height */
.navbar {
    min-height: 40px;
}
.navbar-brand,
.navbar-nav>li>a {
    line-height: 50px;
    padding: 1px 5px;
}
/* Toggle button size */
.navbar-toggle {
    margin: 4px;
    padding: 4px;
}
.navbar-toggle .icon-bar {
    width: 14px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 2px;
}