<div class="container">
	<div class="row">
			<table class="table table-hover table-bordered">
			<thead>
				<h1 class="text-center">{{vm.client.name}}'s Workout Program</h1>
				<tr>
					<th>Day</th>
					<th>Exercise</th>
					<th>Reps</th>
					<th>Reps Time</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in vm.clientProgram.program">
					<td>{{value.day}}</td>
					<td>{{value.exercise}}</td>
					<td>{{value.range}} Reps</td>
					<td>Time: {{value.time_frame}} Rest: {{value.rest_time}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
