<div class="container">
	<div class="row">
		<h3 class="text-center">Update your Progress to see how you have been doing!</h3>
		


		<!-- Show for specific date with moment.js, save to database using carbon 
			with object for workout, use D3.js to display as graph -->


		<div class="container">
			<div class="row">
				<form class="navbar-form">
			<table class="table table-hover table-bordered">
			<thead>
				<h1 class="text-center">{{vm.client.name}}'s Workout Program</h1>
				<tr>
					<th>Day</th>
					<th>Exercise</th>
					<th>Reps</th>
					<th>Reps Time</th>
					<th>Weight</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in vm.clientProgram.program">
					<td>{{value.day}}</td>
					<td>{{value.exercise}}</td>
					<td>{{value.range}} Reps</td>
					<td>Time: {{value.time_frame}} Rest: {{value.rest_time}}</td>
					<td>
						<input class="form-control" type="text" ng-model="vm.progress[key]" placeholder="Enter Weight">
					</td>
				</tr>
			</tbody>
		</table>
			<btn class="btn btn-primary" ng-click="vm.clientProgress(vm.clientProgram.program)">Save Progress</btn>
			<btn class="btn btn-primary" ui-sref="profile.progressDisplay">View Progress</btn>
		</form>
	</div>
</div>

</div>
</div>

	<div ui-view="profile.progressDisplay"></div>

