<div class="container">
	<div class="row">
		<h3>Would you like to update your current status?</h3>
		<btn class="btn btn-primary" ng-click="showStatus = true">Update</btn>

		<div class="row" ng-show="showStatus === true">
			<form class="navbar-form">
				<label for="Name">Name</label>
				<input class="form-control" type="text" ng-model="vm.client.name" placeholder="vm.client.name">
				<label for="Email">Email</label>
				<input class="form-control" type="email" ng-model="vm.client.email" placeholder="vm.client.email">
				<btn class="btn btn-primary" ng-click="vm.update('user', vm.client);">Save</btn>
				<btn class="btn btn-danger" ng-click="showStatus = false">Close</btn>
			</form>
		</div>

	</div>
</div>
