<!-- injected views -->
<div class="container">
	<div class="row">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">				
				<a ui-sref="admin.admin.customers"><btn class="btn btn-primary">Customer List</btn></a>
			</div> 
			<div class="btn-group">
				<a ui-sref="admin.admin.workout"><btn class="btn btn-primary">Build Workout Plans</btn></a>
			</div>
			<div class="btn-group">
				<a ui-sref="admin.admin.workoutplan"><btn class="btn btn-primary">View Workout Programs</btn></a>
			</div>
		</div>
	</div>
</div> 

<!-- ui-router view injector via $stateProvider -->
<div ui-view></div>


