
<div class="container">
	<div class="row">
		
		<btn class="btn btn-primary" ng-click="addUser = true">Add User</btn>
		<btn class="btn btn-danger">Delete User</btn>

		<div class="row" ng-show="addUser === true">
			<form class="navbar-form">
				<input class="form-control" type="text" ng-model="vm.user.name" placeholder="Name">
				<input class="form-control" type="email" ng-model="vm.user.email" placeholder="Email">
				<input class="form-control" type="password" ng-model="vm.user.password" placeholder="Email">
				<input class="form-control" type="hidden" ng-model="vm.user.subscriber">
				<btn class="btn btn-primary">Submit</btn><btn class="btn btn-danger" ng-click="addUser = false">Close</btn>
			</form>
		</div>



		<table class="table table-hover table-bordered">
			<thead>
				<h1 class="text-center">Customers</h1>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Sign-Up Date</th>
					<th>Subscription Status</th>
					<th>Revenue Generated</th>
					<th>Contact User</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="users in vm.users">
					<td>{{users.name}}</td>
					<td>{{users.email}}</td>
					<td>Date</td>
					<td>Active</td>
					<td>$100</td>
					<td><btn class="btn btn-primary btn-xs">Send Email</btn></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

