	<div class="container">
		<h1 class="text-center">Exercise Database</h1>

			<btn class="btn btn-primary text-center" ng-click="buildWorkout = true">Build Workout Plan</btn>

			<div class="container" ng-show="buildWorkout === true">
				<div class="row">
					<h1>Workout Program</h1>
						<form class="navbar-form">
							<input class="form-control" ng-model="vm.workoutType" type="text" placeholder="Workout Goal">
							<input class="form-control" ng-model="vm.programName" type="text" placeholder="Program Name">
							<input class="form-control" ng-model="vm.programVariation" type="text" placeholder="Weeks">
							
							<!--<div class="table-responsive"> -->
							<div>
								<table class="table table-hover table-bordered">
								<thead>
										<h1 class="text-center">{{vm.workoutType}} {{vm.programName}} {{vm.programVariation}}</h1>
										<tr>
											<th>Monday</th>
											<th>Tuesday</th>
											<th>Wednesday</th>
											<th>Thursday</th>
											<th>Friday</th>
											<th>Saturday</th>
											<th>Sunday</th>
										</tr>
								</thead>
								<tbody>
									<tr>
										<td>Exercise</td>
										<td>Off</td>
										<td>Exercise</td>
										<td>Off</td>
										<td>Exercise</td>
										<td>Off</td>
										<td>Off</td>
									</tr>
								</tbody>
								</table>
							</div>
							<!--</div> -->
							
								<btn class="btn btn-primary" ng-click="vm.LogWorkout()">Save Workout</btn>
								<btn class="btn btn-danger btn-xs" ng-click="buildWorkout = false">Close</btn>
						</form>
						
						<h1>Subscribers</h1>
						<div ui-tree>
  							<ol ui-tree-nodes="" ng-model="vm.subscribers">
    							<li ng-repeat="user in vm.subscribers" ui-tree-node>
      								<div ui-tree-handle>
        								{{user.name}}
      								</div>
    							</li>
  							</ol>
						</div>
						
						<div>
							<table class="table table-hover table-bordered">
							<thead>
								<h1>New Subscribers</h1>
									<tr>
										<th>Subscriber</th>
									</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div ui-tree>
  										<ol ui-tree-nodes="" ng-model="vm.node">
    									<li ng-repeat="user in vm.node" ui-tree-node>
      									<div ui-tree-handle>
        									{{user.name}}
      									</div>
    									</li>
  										</ol>
										</div>
									</td>
								</tr>
							</tbody>
							</table>
							<btn class="btn btn-primary" ng-click="vm.drag()">Save</btn>
						</div>
						
				</div>
			</div>

		<div class="container">
			<div class="row">
				<div class="btn-group btn-group-justified">
					<div class="btn-group">				
						<a ui-sref="exercises"><btn class="btn btn-primary">Weighted Exercises</btn></a>
					</div> 
					<div class="btn-group">
						<a ui-sref="bodyweight"><btn class="btn btn-primary">Bodyweight Exercises</btn></a>
					</div>
					<div class="btn-group">
						<a ui-sref="cardio"><btn class="btn btn-primary">Cardio Exercises</btn></a>
					</div>
					<div class="btn-group">
						<a ui-sref="reps"><btn class="btn btn-primary">Reps</btn></a>
					</div>
				</div>

				<!-- ui-router view injector via $stateProvider -->
				<div ui-view></div>
			</div>
		</div> 


		
	</div>

