	<div class="container">
		<h1 class="text-center">Exercise Database</h1>

			<btn class="btn btn-primary text-center" ng-click="buildWorkout = true">Build Workout Plan</btn>

			<div class="container">
				<div class="row">
					<h1>Test checkboxes</h1>
					<pre>
						Type: {{vm.workoutType}} Name: {{vm.programName}} Day: {{vm.selectDay.day}}
						Exercises: {{vm.select}}
						<ul>
							<li ng-repeat="(key, value) in vm.select">
								{{key}}:{{value}}
							</li>
						</ul>
					</pre>
				</div>
			</div>

			<div class="container" ng-show="buildWorkout === true">
				<div class="row">
					<h1>Workout Program</h1>

						<form class="navbar-form">
							<input class="form-control" ng-model="vm.workoutType" type="text" placeholder="Workout Goal">
							<input class="form-control" ng-model="vm.programName" type="text" placeholder="Program Name">
							<input class="form-control" ng-model="vm.programVariation" type="text" placeholder="Weeks">
							<input class="form-control" ng-model="vm.programLength" type="text" placeholder="Number of Days A Week">
							<select name="day" class="form-control" ng-model="vm.selectDay" ng-options="days.day for days in vm.calendar">
								<option value="">--Select Day--</option>
							</select>
							
							<!--<div class="table-responsive"> -->
							<div>
							<table class="table table-hover table-bordered">
							<thead>
								<h1 class="text-center">Weighted Exercises</h1>
									<tr>
										<th>Add to Program</th>
										<th>Body Part</th>
										<th>Exercise</th>
										<th>Select Reps</th>
									</tr>
							</thead>
							<tbody>
								<tr ng-repeat="weighted in vm.exercises">
									<td>
										<input class="form-control" name="selectExercise" type="checkbox" ng-click="vm.selectExercise(weighted, vm.selectReps)">
									</td>
									<td>{{weighted.body}}</td>
									<td>{{weighted.exercise}}</td>
									<td>
										
										<select name="reps"	class="form-control" ng-model="vm.selectReps" ng-options="reps.range for reps in vm.reps">
											<option value="">--Select Reps--</option>
										</select>

									</td>
								</tr>
							</tbody>
							</table>
							</div>
							<!--</div> -->
							
							<btn class="btn btn-primary" ng-click="vm.logWorkout()">Save Workout</btn>
							<btn class="btn btn-danger" ng-click="buildWorkout = false">Close</btn>
						</form>
						
				</div>
			</div>

	<!-- injected views -->
		<div class="container">
			<div class="row">
				<div class="btn-group btn-group-justified">
					<div class="btn-group">				
						<a ui-sref="exercises"><btn class="btn btn-primary">Weighted Exercises</btn></a>
					</div> 
					<div class="btn-group">
						<a ui-sref="bodyweight"><btn class="btn btn-primary">Bodyweight Exercises</btn></a>
					</div>
					<div class="btn-group">
						<a ui-sref="cardio"><btn class="btn btn-primary">Cardio Exercises</btn></a>
					</div>
					<div class="btn-group">
						<a ui-sref="reps"><btn class="btn btn-primary">Reps</btn></a>
					</div>
				</div>
			</div>
		</div> 

		<!-- ui-router view injector via $stateProvider -->
		<div ui-view></div>
		


		
	</div>

