<nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="/"><img src="assets/img/ReflectionFitness_navbar.png"/></a>
                </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" collapse="isCollapsed">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="#">Join Our Newsletter
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                 <button class="btn btn-warning btn">Subscribe</button>
                            </form></a></li>
                        <li><a ui-sref="auth">Log In</a></li>
                        <li><a ui-sref="signup">Sign-Up</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


<div class="page-header">
	<img class="img-responsive center-block" src="../assets/img/ReflectionFitness_Logo.png" alt="">
</div>

<div class="container text-center">
	<div class="row">
		<div class="col-sm-4">
			<a ui-sref="auth"><btn class="btn btn-warning btn-lg">Login</btn></a>
		</div>
		<div class="col-sm-4">
			<a ui-sref="signup"><btn class="btn btn-warning btn-lg">Sign-Up</btn></a>
		</div>
        <div class="col-sm-4">
            <a ui-sref="#"><btn class="btn btn-warning btn-lg">Content</btn></a>
        </div>
	</div>
</div>

<div style="padding-top:20px;" class="container">
    <div class="row">
	       <h1 class="text-center center-block">About Reflection Fitness</h1>

            <img class="img-responsive center-block" src="../assets/img/ReflectBanner.jpg" alt="">

	   <h3>Reflection Fitness is your complete online training solution. We are here to find out what your goals are, what your schedule is like and find the best way to fit health and fitness into your life so you can achieve your goals. You Reaching your  Health and Fitness Goals = Our Success. Lets Improve Your Reflection Together! Join Team Reflection Fitness!</h3>
    </div>
    <div style="padding-top:50px;" class="row">
       <h3>Send Us Your Email for a Free Consultation</h3>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                    <button class="btn btn-warning btn">Submit</button>
            </form>
    </div>
</div>