<nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="/"><img src="assets/img/ReflectionFitness_navbar.png"/></a>
                </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" collapse="isCollapsed">
                    <ul class="nav navbar-nav navbar-right">
                    	<li><a ui-sref="#">Join Our Newsletter
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                 <button class="btn btn-warning btn">Subscribe</button>
                            </form></a></li>
                        <li><a ui-sref="auth">Log In</a></li>
                        <li><a ui-sref="signup">Sign-Up</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
	<div class="row">

		<div class="col-xs-4">
			<div class="well">
				<table class="table">
					<thead class="pricing">
						<h3 class="text-center">Membership</h3>
					</thead>
					<tbody class="text-center">
						<p>$5.99 Monthly Membership</p>
						<p>4 Week Gym and Body Weight Routines</p>
						<p>4 Week Cardio Routines</p>
						<p>Private Group Access for Fitness Questions</p>
					</tbody>
				</table>
				<div class="text-center">
					<button class="btn btn-warning btn" ng-click="memberships = 'Monthly'">Subscribe</button>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="well">
				<table class="table">
					<thead class="pricing">
						<h3 class="text-center">Silver Coaching</h3>
					</thead>
					<tbody class="text-center">
						<p>$90 for 8 Week Membership Program</p>
						<p>8 Weeks of Online Coaching</p>
						<p>Male and Female Programs</p>
						<p>Customized Workout and Cardio Routine to Fit Your Goal and Schedule</p>
						<p>Email Support within 24 Hours</p>
						<p>Flexible Dieting Outline</p>
						<p>Supplement Guidance</p>
						<p>Program Tweaks</p>
						<p>Food Suggestions for Best Results</p>
						<p>Weekly Follow Up and Goal Setting</p>
						<p>14 Day Money Back Guarantee</p>
						<p>Automatic Membership Access</p>
					</tbody>
				</table>
				<div class="text-center">
					<button class="btn btn-warning btn" ng-click="memberships = 'Silver Coaching'">Subscribe</button>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="well">
				<table class="table">
					<thead>
						<h3 class="text-center">Gold Coaching</h3>
					</thead>
					<tbody class="text-center">
						<p>$160 for 16 Week Program</p>
						<p>16 Week Online Coaching</p>
						<p>Male and Female Programs</p>
						<p>Customized Workout and Cardio Routine to Fit Your Goal and Schedule</p>
						<p>Emial Support within 24 Hours</p>
						<p>Flexible Dieting Outline</p>
						<p>Supplement Guidance</p>
						<p>Program Tweaks</p>
						<p>Food Suggestions for Best Results</p>
						<p>Weekly Follow Up and Goal Setting</p>
						<p>14 Day Money Back Guarantee</p>
						<p>Automatic Membership Access</p>
					</tbody>
				</table>
				<div class="text-center">
					<button class="btn btn-warning btn" ng-click="memberships = 'Gold Coaching'">Subscribe</button>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="container">
	<div class="row">
		<h3>Register for Reflection Fitness</h3>

		<form stripe-form="stripeReflectionFitness" name="registerForm">

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Full Name" ng-model="name"/>
			</div>

			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email" ng-model="email"/>
			</div>

			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="password">
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Program Selected" ng-model="memberships">
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Card Number" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="registerForm.number.$card.type"/>
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Expiration" ng-model="expiry" payments-validate="expiry" payments-format="expiry"/>
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="CVC" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
			</div>

			<button type="submit" class="btn btn-warning btn-primary">Register</button>
		</form>

	</div>
</div>