



<!--<div class="table-responsive"> -->
							<div>
							<table class="table table-hover table-bordered">
							<thead>
								<h1 class="text-center">Reps</h1>
									<tr>
										<th>Rep Range</th>
										<th>Time Frame</th>
										<th>Rest Time</th>
									</tr>
							</thead>
							<tbody>
								<tr ng-repeat="reps in vm.reps">
									<td>{{reps.range}}</td>
									<td>{{reps.time_frame}}</td>
									<td>{{reps.rest_time}}</td>
								</tr>
							</tbody>
							</table>
							</div>
							<!--</div> -->








